body{
    margin: 0%;
}

nav ul{
    background-color: #163442;
    display: flex;
    justify-content: space-around;
    margin: 0%;
}

nav ul li{
    padding: 10px 10%;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: #102633;
    justify-content: space-around;
}

.hero{
    margin-right: 70%;
    padding-left: 5%;
}

header p{
    margin-right: 50%;
    padding-left: 5%;
}

header button{
    margin-left: 10%;
    background-color: white;
}

main{
    padding-left: 2%;
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
}

.title_li{
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
}

li{
    list-style-type: none;
}

footer{
    background-color: #163442;
    color: white;
    text-align: center;
    padding: 15px;
}