header{
    text-align: center;
    background-color: #b7e0e0;
    padding-top: 15px;
}

nav{
    background-color: #163442;
}

nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li{
    padding: 15px 15px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    background-color: #27769b;
}

main{
    padding-left: 2%;
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
}

.title_li{
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: bold;
}

li{
    list-style-type: none;
}

footer{
    background-color: #163442;
    color: white;
    text-align: center;
    padding: 15px;
}